:css
  .news {display:inline-block; width:340px; vertical-align:top;}
  .date {font-size:12pt; font-style: italic;}
  .more {display:inline; float:right; margin-right:20px;}
  .subject {font-weight: bold; padding-left:5px;}
  .body {padding: 5px;}

%table(style='width:701px')
  %tr
    %td
      - @posts.each do |p|
        .news
          - pp= p.pic_postimg
          = image_tag pp unless pp.empty?
          %br
          .subject
            = p.subject
            = image_tag 'television.png' unless p.video.empty?
          .body{:style=>"background-color: #{cycle('#F9E3A4','#F9A4AA','#F9A4EB','#ABA4F9','#A4ECF9','#A6F9A4')}"}
            = truncate p.body, :length=>200
          .date
            = "(#{p.post_type_name})"
            = date_thai p.created_at
            - if p.body.length >200
              %span.more= link_to 'อ่านต่อ...', :controller=>'activity', :action=>:post, :id=>p.id
