:css
  .subject {color:#888; font-size:24pt; font-weight:bold;}
  .date {font-size:12pt; font-style: italic; float:right; clear: both;}
- if @notice.pic
  = image_tag @notice.pic
.date
  = date_thai @notice.created_at
.subject
  - if (@notice.user.login!='anonymous') && (@notice.user==current_user)
    = link_to image_tag('pencil.png', :alt => "edit" ), "/run/webboard/edit/#{@notice.id}"
  = @notice.subject
.body= RedCloth.new(@notice.body).to_html
