:css
  .group {width:100px;font-weight:bold;}
  .people {text-align:center}
  .person {display:inline-block}

%table
  %tr
    %td.group ผู้บริหาร
    %td.people
      .person
        = image_tag "people/tanit.jpg"
        %br
        นายธนิต สุขทอง
        %br
        นายก อบต.
      .person
        = image_tag "people/saravut.jpg"
        %br
        นายศราวุธ ปานสัน
        %br
        รองนายก อบต.
      .person
        = image_tag "people/viritpon.jpg"
        %br
        นายวิริทธิ์พล แหยมบาง
        %br
        รองนายก อบต.
      .person
        = image_tag "people/songrit.jpg"
        %br
        นายทรงฤทธิ์ ลีมัคเดช
        %br
        เลขานุการนายก อบต.
  %tr
    %td.group สภา อบต.
    %td.people
      .person
        = image_tag "people/suvit.png"
        %br
        นายสุวิทย์ พึ่งพานิชย์
        %br
        ประธานสภา
      .person
        = image_tag "people/sa_ad.png"
        %br
        นายสอาด โตสิงห์
        %br
        สมาชิกสภา
      .person
        = image_tag "people/radomporn.png"
        %br
        นายระดมพร หนูเผือก
        %br
        สมาชิกสภา
  %tr
    %td.group ข้าราชการประจำ
    %td.people
      .person
        = image_tag "people/pornchai.png"
        %br
        นายพรชัย ไขสกุล
        %br
        ปลัด อบต.
      .person
        = image_tag "people/arunrat.png"
        %br
        นางอรุณรัตน์ พุ่มไสว
        %br
        หัวหน้าส่วนการคลัง
      .person
        = image_tag "people/revat.png"
        %br
        นายเรวัต
        %br
        หัวหน้าส่วนโยธา
