:css
  .link {width: 160px; display:inline-block;}

%h4(style='text-align:center;')
  เว็บไซต์ที่เกี่ยวข้อง
.link
  %a(href="http://www.moi.go.th/" target="_blank")
    = image_tag("links/moi.gif")
.link
  %a(href="http://www.opm.go.th/" target="_blank")
    = image_tag("links/opm.gif")
.link
  %a(href="http://www.thaireform.com/" target="_blank")
    = image_tag("links/thaireform.gif")
.link
  %a(href="http://www.dloc.opm.go.th/" target="_blank")
    = image_tag("links/dloc.gif")
.link
  %a(href="http://www.oic.go.th/" target="_blank")
    = image_tag("links/ginfo.gif")
.link
  %a(href="http://www.dopa.go.th/" target="_blank")
    = image_tag("links/dopa.gif")
.link
  %a(href="http://www.thailocaladmin.go.th/" target="_blank")
    = image_tag("links/thailocaladmin.gif")
.link
  %a(href="http://www.thaitambon.com/" target="_blank")
    = image_tag("links/thaitambon.jpg")
.link
  %a(href="http://www.plpd.org/" target="_blank")
    = image_tag("links/plpd.gif")
.link
  %a(href="http://www.amphoe.com/" target="_blank")
    = image_tag("links/amphoe.gif")
.link
  %a(href="http://www.dpt.go.th/04work/house_model/framehome.html" target="_blank")
    = image_tag("links/planhome.gif")

:css
  .tv {width: 110px; display:inline-block;}
%h4(style='text-align:center;')
  โทรทัศน์
.tv
  %a(href="http://www.thaitv3.com/" target="_blank")
    = image_tag("links/tv3.png")
.tv
  %a(href="http://www.tv5.co.th/" target="_blank")
    = image_tag("links/tv5.png")
.tv
  %a(href="http://www.ch7.com/" target="_blank")
    = image_tag("links/tv7.png")
.tv
  %a(href="http://www.mcot.net/ModerNineTV" target="_blank")
    = image_tag("links/tv9.png")
.tv
  %a(href="http://nbttv.prd.go.th/" target="_blank")
    = image_tag("links/tv11.png")
.tv
  %a(href="http://www.thaipbs.or.th/" target="_blank")
    = image_tag("links/tv_pbs.png")
